@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="anim-fade-in">Ready to type?</p>
        <input id="Ready!" type="button" value="Ready!" onclick="displaySentence()"/>
        <p id="sentenceOutput"></p>
    <p id="increment"></p>

</div>    s
    
</body>

<script src="~/js/site.js"></script>